<header>
    <img class="fondo" src="../../../assets/fondo.jpg" alt="">
    <img class="perfil" src="../../../assets/avatar.jpg" alt="">
    <div class="contenedor">
        <div class="card">
            <div class="card-header">
                <h1> Almirón Diego</h1>
            </div>
            <div class="card-body">
                <h6>Profesión</h6>
                <h6>Direccion (nacionalidad) </h6>
                <h6>00000000000</h6>
            </div>
        </div>
    </div>
</header>
